{% extends 'base/base.html' %}
{% block content %}


    {% if not pets %}
        <h1 class='text-center'>No pet photos yet</h1>
        <div class=" row d-flex justify-content-center align-content-center">
            <!-- Button to Add a new Photo -->
            <a href="#" class="btn btn-lg btn-secondary row align-self-baseline">Add Photo</a>
        </div>
    {% else %}
        <h1 class='text-center'>All Pet Photos</h1>
        <div class="container mb-5">
            <div class="row mb-5">
                {% for pet in pets %}
                    <div class="card ml-3 mb-3" style="width: 18rem;">

                        <img src="{{ pet.photo.url }}" class="card-img-top"
                                {% if pet.description %} alt="{{ pet.description }}" {% endif %}>
                        <div class="card-body">
                            {% for p in pet.tagged_pets.all %}
                                <h5 class="card-title">
                                    {{ p.name }}{% if p.date_of_birth %} , age: {{ p.age }}{% endif %}</h5>
                            {% endfor %}
                            <p class="card-text">{{ pet.description|truncatechars:30 }}</p>

                            <a href="{% url 'photo' pet.pk %}" class="btn btn-primary">See details</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endblock %}